/* WOMEN WHO CODE GLITTER STYLE VARIABLES v1.0
/* You may use this code however you need in your
/* Women Who Code website!
/* For the most recent variables version, please visit:
/* https://github.com/WomenWhoCode/glitter
/*

/* === INDEX === */
/*  1. FORM STYLES
/*  2. LINK STYLES
/*  3. ERROR STYLES
/*  4. ALERT STYLES
/* ============= */

/* ====================== */
/* === 1. FORM STYLES === */
/* ====================== */
button {
    background-color: #007a7c;
    border: none;
    border-radius: 0;
    color: #ffffff;
    outline: none;
    margin: 30px 0;
    padding: 20px 60px;
    transition: .5s;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  button:hover {
    background-color: #029393;
  }
  button:focus {
    outline: none;
    background-color: #024f4f;
  }
  
  .checkbox .square {
    cursor: pointer;
    background: #ffffff;
    border: 3px solid #19191A;
    margin-right: 15px;
    margin-left: auto;
    margin-top: -4px;
    float: left;
    width: 30px;
    height: 30px;
  }
  .checkbox .square.selected {
    background-image: url("https://s3-us-west-2.amazonaws.com/wwcodefroala-staging/uploads%2F1508959867618-check-teal.svg");
    border: 3px solid #007a7c;
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .radio .square {
    cursor: pointer;
    background: #ffffff;
    border: 3px solid #19191A;
    margin-right: 15px;
    margin-left: auto;
    margin-top: -4px;
    float: left;
    width: 30px;
    height: 30px;
  }
  .radio .square.selected {
    background-image: url("https://s3-us-west-2.amazonaws.com/wwcodefroala-staging/uploads%2F1508959867618-check-teal.svg");
    border: 3px solid #007a7c;
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #filepicker_url {
    cursor: pointer;
    border-style: dashed;
    text-align: center;
    color: #19191A;
    padding: 20px 15px 10px 15px;
    letter-spacing: 2px;
  }
  
  input {
    border: none;
    border-bottom: 3px solid #19191A;
    box-shadow: none;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 20px 25px 25px 0;
    width: 100%;
  }
  input:active {
    box-shadow: none;
    outline: none;
    border-bottom: 3px solid #19191A;
  }
  input:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 3px solid #19191A;
  }
  input.error {
    border: 3px solid #e04a32;
  }
  input.error:focus {
    color: #e04a32;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="submit"] {
    color: #ffffff;
    border-bottom: none;
    background: #007a7c;
    border-radius: 0;
    width: 100%;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .5s;
  }
  input[type="submit"]:hover {
    background-color: #029393;
  }
  input[type="submit"]:focus {
    background-color: #024f4f;
  }
  
  label {
    color: #19191A;
    display: block;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 30px;
    text-transform: uppercase;
  }
  
  select {
    background: #ffffff;
    background-image: url("https://s3-us-west-2.amazonaws.com/wwcodefroala-staging/uploads%2F1508955808225-dropdown.svg");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right;
    border: 3px solid #19191A;
    width: 100%;
    margin-bottom: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
    padding: 20px;
  }
  
  .tag {
    background-color: #007a7c;
    color: #ffffff;
    padding: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
  }
  .tag .delete {
    color: #ffffff;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    top: -8px;
    display: flex;
    float: right;
    width: 22.8px;
    height: 27.9px;
    margin: 0;
    position: relative;
    right: -20px;
  }
  
  textarea {
    width: 100%;
    position: relative;
    border: 3px solid #19191A;
    padding: 15px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  textarea:active {
    outline: none;
  }
  textarea:focus {
    outline: none;
  }
  textarea.error {
    border: 3px solid #e04a32;
  }
  
  /* ====================== */
  /* === 2. LINK STYLES === */
  /* ====================== */
  a {
    color: #007a7c;
    cursor: pointer;
  }
  a.underline {
    color: #19191A;
    border-bottom: 5px solid #67bebf;
  }
  a.underline:hover {
    background-color: #67bebf;
  }
  
  /* ======================= */
  /* === 3. ERROR STYLES === */
  /* ======================= */
  .error-text {
    color: #e04a32;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .error-input {
    border: 3px solid #e04a32;
  }
  .error-input:focus {
    border: 3px solid #e04a32;
  }
  
  /* ======================= */
  /* === 4. ALERT STYLES === */
  /* ======================= */
  .alert {
    color: #ffffff;
    padding: 25px;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgba(0, 122, 124, 0.8);
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 75px;
  }
  .alert.alert-error {
    background-color: rgba(224, 74, 50, 0.9);
  }
  .alert a {
    border-bottom: 3px solid #ffffff;
  }
  .alert a:hover {
    color: #ffffff;
  }
  .alert .delete {
    color: #ffffff;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    display: flex;
    float: right;
    width: 22.8px;
    height: 27.9px;
    margin: 0;
    position: relative;
    right: 10px;
    top: -6px;
  }
  .alert span {
    position: relative;
    top: 2px;
  }
  