/* WOMEN WHO CODE GLITTER STYLE VARIABLES v1.0
/* You may use this code however you need in your
/* Women Who Code website!
/* For the most recent variables version, please visit:
/* https://github.com/WomenWhoCode/glitter
/*

/* === INDEX === */
/*  1. VARIABLES
/*  2. FORM STYLES
/*  3. LINK STYLES
/*  4. ERROR STYLES
/*  5. ALERT STYLES
/* ============= */


/* ==================== */
/* === 1. VARIABLES === */
/* ==================== */

//Official WWCode teal
$teal:                      #007a7c;
$teal-rgba:                 rgba(0, 122, 124, 0.8);

//Other colors
$blackish:                  #19191A;
$blackish-rgba:             rgba(25, 25, 26, 0.5);
$navy-bluish:               #0f283c;
$navy-bluish-rgba:          rgba(15,40,60, 0.8);
$red:                       #e04a32;
$red-rgba:                  rgba(224,74,50, 0.9);
$teal-light:                #029393;
$teal-light-rgba:           rgba(2, 147, 147, 0.6);
$teal-dark:                 #024f4f;
$teal-dark-rgba:            rgba(2,79,79,.6);

//Backgrounds
$white:                     #ffffff;
$whitish:                   #f5f5f5;

//Links
$link-teal:                #67bebf;

//buttons
$button-bg:                 $teal;
$button-hover:              $teal-light;
$button-focus:              $teal-dark;

//Alerts
$error-inline-color:        $red;
$error-alert-background:    $red-rgba;
$success-alert-background:  $teal-rgba;

//Inputs
$input-border-size:         3px;

//Input Background Image Sizes
$check-size:                21px;

//Font Families
$base-font-family:          "Lucida Grande";

//Font Spacing
$base-font-spacing:         2px;

//Font Sizes
$base-font-size:            18px;
$base-mobile-size:          16px;

//Font Colors
$base-font-color:           $blackish;

//General Padding
$standard-padding:          30px;

//Top Nav
$top-nav-height:            75px;


/* ====================== */
/* === 2. FORM STYLES === */
/* ====================== */

//Button
button{
  background-color: $button-bg;
  border: none;
  border-radius: 0;
  color: $white;
  outline: none;
  margin: $standard-padding 0;
  padding: $standard-padding/1.5 $standard-padding*2;
  transition: .5s;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &:hover{
    background-color: $button-hover;
  }
  &:focus{
    outline: none;
    background-color: $button-focus;
  }
}

//Checkboxes
.checkbox{
  .square {
    cursor: pointer;
    background: $white;
    border: $standard-padding/10 solid $blackish;
    margin-right: $standard-padding/2;
    margin-left: auto;
    margin-top: $standard-padding/-7.5;
    float: left;
    width: $standard-padding;
    height: $standard-padding;
    &.selected {
      background-image: url("https://s3-us-west-2.amazonaws.com/wwcodefroala-staging/uploads%2F1508959867618-check-teal.svg");
      border: $standard-padding/10 solid $teal;
      background-size: $check-size;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.radio{
  .square {
    cursor: pointer;
    background: $white;
    border: $standard-padding/10 solid $blackish;
    margin-right: $standard-padding/2;
    margin-left: auto;
    margin-top: $standard-padding/-7.5;
    float: left;
    width: $standard-padding;
    height: $standard-padding;
    &.selected {
      background-image: url("https://s3-us-west-2.amazonaws.com/wwcodefroala-staging/uploads%2F1508959867618-check-teal.svg");
      border: $standard-padding/10 solid $teal;
      background-size: $check-size;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

//Image Uploaders
#filepicker_url{
  cursor: pointer;
  border-style: dashed;
  text-align: center;
  color: $blackish;
  padding: $standard-padding/1.5 $standard-padding/2 $standard-padding/3 $standard-padding/2;
  letter-spacing: $standard-padding/15;
}

//Inputs
input{
  border: none;
  border-bottom: $input-border-size solid $blackish;
  box-shadow: none;
  font-size: $base-font-size;
  letter-spacing: $base-font-spacing;
  padding: $standard-padding/1.5  $standard-padding/1.2 $standard-padding/1.2 0;
  width: 100%;
  &:active{
      box-shadow: none;
      outline: none;
      border-bottom: $input-border-size solid $blackish;
  }
  &:focus{
      box-shadow: none;
      outline: none;
      border-bottom: $input-border-size solid $blackish;
  }
  &.error{
      border: $input-border-size solid $red;
      &:focus {
          color: $red;
      }
  }
  &[type="checkbox"]{
      display: none;
  }
  &[type="radio"]{
    display: none;
  }
  &[type="submit"]{
    color: $white;
    border-bottom: none;
    border-radius: 0;
    background: $teal;
    width: 100%;
    padding: $standard-padding/1.5;
    font-weight: bold;
    letter-spacing: $base-font-spacing;
    transition: .5s;
    &:hover{
      background-color: $teal-light;
    }
    &:focus{
      background-color: $teal-dark;
    }
  }
}

//Labels
label{
  color: $blackish;
  display: block;
  font-size: $base-font-size;
  letter-spacing: $standard-padding/10;
  margin-top: $standard-padding;
  text-transform: uppercase;
}
  
//Selects
select{
  background: $white;
  background-image: url("https://s3-us-west-2.amazonaws.com/wwcodefroala-staging/uploads%2F1508955808225-dropdown.svg");
  background-size: $standard-padding*2;
  background-repeat: no-repeat;
  background-position: right;
  border: $input-border-size solid $blackish;
  width: 100%;
  margin-bottom: $standard-padding;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  padding: $standard-padding/1.5;
}

//Tags
.tag{
  background-color: $teal;
  color: $white;
  padding: $standard-padding/2;
  padding-right: $standard-padding;
  padding-bottom: $standard-padding/3;
  display: inline-block;
  margin-top: $standard-padding/2;
  margin-right: $standard-padding/2;
  .delete{
    color: $white;
    font-size: $standard-padding;
    transform: rotate(45deg);
    cursor: pointer;
    top: $standard-padding/-3.75;
    display: flex;
    float: right;
    width: $standard-padding*.76;
    height: $standard-padding*.93;
    margin: 0;
    position: relative;
    right: $standard-padding/-1.5;
  }
}

//Textareas
textarea{
  width: 100%;
  position: relative;
  border: $input-border-size solid $blackish;
  padding: $standard-padding/2;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
  &.error{
    border: $input-border-size solid $red;
  }
}

/* ====================== */
/* === 3. LINK STYLES === */
/* ====================== */

a{
  color: $teal;
  cursor: pointer;
  &.underline{
    color: $blackish;
    border-bottom: $standard-padding/6 solid $link-teal;
    &:hover{
      background-color: $link-teal;
    }
  }
}

/* ======================= */
/* === 4. ERROR STYLES === */
/* ======================= */

.error-text{
  color: $red;
  margin-top: $standard-padding/3;
  margin-bottom: $standard-padding/2;
}
.error-input{
  border: $input-border-size solid $red;
  &:focus{
    border: $input-border-size solid $red;
  }
}

/* ======================= */
/* === 5. ALERT STYLES === */
/* ======================= */

.alert{
  color: $white;
  padding: $standard-padding/1.2;
  text-align: center;
  letter-spacing: $base-font-spacing;
  background-color: $teal-rgba;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: $top-nav-height;
  &.alert-error{
    background-color: $red-rgba;
  }
  a{
    border-bottom: $input-border-size solid $white;
    &:hover{
      color: $white;
    }
  }
  .delete{
    color: $white;
    font-size: $standard-padding;
    transform: rotate(45deg);
    cursor: pointer;
    display: flex;
    float: right;
    width: $standard-padding*.76;
    height: $standard-padding*.93;
    margin: 0;
    position: relative;
    right: $standard-padding/3;
    top: $standard-padding/-5;
  }
  span{
    position: relative;
    top: $standard-padding/15;
  }
}
