//Animations
$delay-time:                .5s;

//Font Families
$base-font-family:          "Lucida Grande";

//Font Spacing
$base-font-spacing:         2px;

//Font Sizes
$base-font-size:            18px;
$base-mobile-size:          16px;

//General Padding
$standard-padding:          30px;

//Top Nav
$top-nav-height:            75px;

//Inputs
$input-border-size:         3px;
